[submodule "combiner"]
	path = hafen-map-combiner
	url = https://github.com/TheKrush/hafen-map-combiner
[submodule "LayerUtil"]
	path = hafen-layer-util
	url = https://github.com/TheKrush/LayerUtil.git
